<!DOCTYPE html>
{% load staticfiles %}

<html lang="zh-CN">
  <head>
    <title>Event Manage Page</title>
    <link href={% static "css/bootstrap_3.3.5/bootstrap.min.css" %} rel="stylesheet">
    <link href={% static "css/bootstrap_3.3.5/bootstrap-theme.min.css" %} rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <!-- <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"> -->
    <!-- Custom styles for this template -->
    <!-- <link href="//v3.bootcss.com/examples/theme/theme.css" rel="stylesheet"> -->
  </head>
  <body>
    <!--
    <div style="float:right;">
      <a>hi, {{ user }}</a><hr/>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">{{user}}</a></li>
      <li><a href="/sign/logout/">退出</a></li>
    </ul>
    <h1>Login Success!</h1>
    -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/event_manage/">Guest Manage System</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">发布会</a></li>
            <li><a href="/guest_manage/">嘉宾</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">{{user}}</a></li>
            <li><a href="/sign/logout/">退出</a></li>
          </ul>
        </div>
      </div>
    </nav>

  </body>
</html>